// Цвета
$white-color: #fff;
$light-grey-color: #f9f9f9;
$placeholder-color: #888;
$dark-grey-color: #333;
$border-color: #e1e1e1;
$border-focus-color: #646464;
$light-shadow: rgba(0, 0, 0, 0.1);
$error-color: red;

// Размеры шрифтов
$small-font-size: 11px;
$normal-font-size: 16px;
$large-font-size: 20px;
$huge-font-size: 32px;